@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.hover-btn{
    background: #dc3545;
}

.b-g{
   
    background-image: url('img/materialpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.b-g-c{
   
    background-image: url('img/communitypage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}