@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #faf7db;
    background-image: url('img/profilepage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.b-g{
    background-image: url('img/admins.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color:rgb(239, 235, 229)
}

.font-s{
     font-size: 30px;  
}



         
         
         

 
 


